# Node Dependencies
**/node_modules/
.npm/

# Build-Ausgaben
**/dist/
**/build/

# Docker & Umgebungsvariablen
.env
.env.local
.env.*

# Betriebssystem-Müll
.DS_Store
Thumbs.db

# Datenbanken
**/postgres_data_dev/
**/postgres_data_prod/

# KI Gedöns
.agents/
project_tree.txt

# Lokale Dokumentation
README.local.md